<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Admin Panel{%endblock%}</title>
    {% load static %}
    {% load perms %}

    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <h2 class="brand">Panel</h2>

            <nav class="menu">
                <a href="{% url 'panel_dashboard'%}">Dashboard</a>
                 {% if request.user.is_super_admin or request.user|has_perm_code:"admins.view" %}
                    <a href="{% url 'panel_admin_list'%}">Admins</a>
                 {% endif %}
            </nav>

            <div class="sidebar-footer">
                <div class="user">
                    Logged in:<strong>{{request.user.email}}</strong>
                    </div>
                    <a class="logout" href="{% url 'panel_logout'%}">Logout</a>
            </div>
    </aside>
    <main class="content">
        {% if messages %}
         <div class="meesages">
            {% for message in message %}
            <div class="message">{{message}}</div>
            {%endfor%}
         </div>
        {% endif%}
        {% block content%}{% endblock %}
    </main>
    </div>
</body>
</html>